.sc-dmqHEX .ctCofC .adminjs_Box, .dToggm, .hZzKCo{
  display: none !important;
}

.cbWnIP {display: flex; align-items: center; justify-content: center;}

.sc-dmqHEX .iGufWx .adminjs_Box,
.sc-dmqHEX .bVPUDj .adminjs_Box,
.hLvnre, .hbUkCG,
.sc-dmqHEX .hZzKCo .adminjs_Box  {
  display: none !important;
}

.adminjs_Logo {
  pointer-events: none !important;

  text-decoration: none !important;
  cursor: default !important;
}
